@model AppPesquisaCnpj.Models.EmpresaEnderecoViewModel

@{
    ViewData["Title"] = "Detalhes da Empresa";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h3>Informações da Empresa</h3>
    <form asp-controller="Empresas" asp-action="Salvar" method="post">
        <p><strong>CNPJ:</strong> @Model.empresa.cnpj</p>
        <p><strong>Nome:</strong> @Model.empresa.nome</p>
        <p><strong>Atividade Principal:</strong> @Model.empresa.atividadePrincipal</p>
    
        <p><strong>Logradouro:</strong> @Model.Enderecos.First().logradouro</p>
        <p><strong>numero:</strong> @Model.Enderecos.First().numero</p>
        <p><strong>complemento:</strong> @Model.Enderecos.First().complemento</p>
        <p><strong>municipio:</strong> @Model.Enderecos.First().bairro</p>
        <p><strong>bairro:</strong> @Model.Enderecos.First().municipio</p>
        <p><strong>uf:</strong> @Model.Enderecos.First().uf</p>
        <p><strong>cep:</strong> @Model.Enderecos.First().cep</p>
        <input type="hidden" asp-for="@Model.empresa.cnpj" />
        <input type="hidden" asp-for="@Model.empresa.nome" />
        <input type="hidden" asp-for="@Model.empresa.atividadePrincipal" />
        <input type="hidden" asp-for="@Model.Enderecos.First().logradouro" />
        <input type="hidden" asp-for="@Model.Enderecos.First().numero" />
        <input type="hidden" asp-for="@Model.Enderecos.First().complemento" />
        <input type="hidden" asp-for="@Model.Enderecos.First().bairro" />
        <input type="hidden" asp-for="@Model.Enderecos.First().municipio" />
        <input type="hidden" asp-for="@Model.Enderecos.First().uf" />
        <input type="hidden" asp-for="@Model.Enderecos.First().cep" />
        <button type="submit" class="btn btn-primary">Adicionar ao Banco</button>

    </form>

</div>
